@page "/shipdetails/{symbol}"
@using SpaceTrader.Components.Ships
@using SpaceTrader.Components.Ships.Nav
@inject ApiClient _client
@if(_ship == null)
{
    if(string.IsNullOrWhiteSpace(Error))
    {
        <p>Loading Ship Details . . .</p>
    }
    else
    {
        <p style="color:red">@Error</p>
    }
}
else
{
    <h3>@_ship.Symbol</h3>
    <div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="registrationHeader">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#registration" aria-expanded="false" aria-controls="registration">
                            Registration
                        </button>
                    </h5>
                </div>
                <div id="registration" class="collapse multi-collapse" aria-labelledby="registrationHeader" data-parent="#accordion">
                    <div class="card-body">
                        <RegistrationView Registration=_ship.Registration />
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="navigationHeader">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-expanded="false" aria-controls="nav">
                            Navigation
                        </button>
                    </h5>
                </div>
                <div id="nav" class="collapse multi-collapse" aria-labelledby="navigationHeader" data-parent="#accordion">
                    <div class="card-body">
                        <NavView Nav=_ship.Nav Symbol="@_ship.Symbol" />
                        <FuelView Fuel=_ship.Fuel />
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="crewHeader">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#crew" aria-expanded="false" aria-controls="crew">
                            Crew
                        </button>
                    </h5>
                </div>
                <div id="crew" class="collapse multi-collapse" aria-labelledby="navigationheader" data-parent="#accordion">
                    <div class="card-body">
                        <CrewView Crew=_ship.Crew />
                    </div>
                </div>
            </div>

            <div class="card" id="configuration">
                <div class="card-header" id="configurationHeader">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#config" aria-expanded="false" aria-controls="config">
                            Ship Configuration
                        </button>
                    </h5>
                </div>
                <div id="config" class="collapse multi-collapse" aria-labelledby="configurationHeader" data-parent="#accordion">
                    <div class="card-body">

                        <div class="card">
                            <div class="card-header" id="frameHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#frame" aria-expanded="false" aria-controls="frame">
                                        Frame
                                    </button>
                                </h5>
                            </div>
                            <div id="frame" class="collapse multi-collapse" aria-labelledby="frameHeader" data-parent="#configuration">
                                <div class="card-body">
                                    <ShipFrameView Frame=_ship.Frame />
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="reactorHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#reactor" aria-expanded="false" aria-controls="reactor">
                                        Reactor
                                    </button>
                                </h5>
                            </div>
                            <div id="reactor" class="collapse multi-collapse" aria-labelledby="reactorHeader" data-parent="#configuration">
                                <div class="card-body">
                                    <ReactorView Reactor=_ship.Reactor />
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="engineHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#engine" aria-expanded="false" aria-controls="engine">
                                        Engine
                                    </button>
                                </h5>
                            </div>
                            <div id="engine" class="collapse multi-collapse" aria-labelledby="engineHeader" data-parent="#configuration">
                                <div class="card-body">
                                    <EngineView Engine=_ship.Engine />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            @if (_ship.Modules is not null)
            {
                <div class="card">
                    <div class="card-header" id="moduleHeader">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#modules" aria-expanded="false" aria-controls="modules">
                                Modules
                            </button>
                        </h5>
                    </div>
                    <div id="modules" class="collapse multi-collapse" aria-labelledby="moduleHeader" data-parent="#accordion">
                        <div class="card-body">
                            @foreach (var module in _ship.Modules)
                            {
                                <ModuleView Module=module />
                            }
                        </div>
                    </div>
                </div>
            }
            @if(_ship.Mounts is not null)
            {
                <div class="card">
                    <div class="card-header" id="mountsHeader">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#mounts" aria-expanded="false" aria-controls="mounts">
                                Mounts
                            </button>
                        </h5>
                    </div>
                    <div id="mounts" class="collapse multi-collapse" aria-labelledby="mountsHeader" data-parent="#accordion">
                        <div class="card-body">
                            @foreach (var mount in _ship.Mounts)
                            {
                                <MountView Mount=mount />
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="card">
                <div class="card-header" id="cargoHeader">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#cargo" aria-expanded="false" aria-controls="cargo">
                            Cargo
                        </button>
                    </h5>
                </div>
                <div id="cargo" class="collapse multi-collapse" aria-labelledby="cargoHeader" data-parent="#accordion">
                    <CargoView Cargo=_ship.Cargo />
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Symbol { get; set; }

    private Ship _ship;
    private string Error = string.Empty;

    protected override async Task OnInitializedAsync ()
    {
        var request = new RestRequest($"/my/ships/{Symbol}", Method.Get);
        var response = await _client.GetRequest<Ship>(request, true);

        if(response is not null)
        {
            _ship = response.Data;
        }
        else
        {
            Error = "Unable to retrieve ship, please make sure you are logged in";
        }
    }
}
