@page "/shipdetails/{symbol}"
@using SpaceTrader.Components.Ships
@using SpaceTrader.Components.Ships.Nav
@inject ApiClient _client
@if(_ship == null)
{
    if(string.IsNullOrWhiteSpace(Error))
    {
        <p>Loading Ship Details . . .</p>
    }
    else
    {
        <p style="color:red">@Error</p>
    }
}
else
{
    <h3>@_ship.Symbol</h3>
    <div>
        <RegistrationView Registration=_ship.Registration />
        <NavView Nav=_ship.Nav />
        <CrewView Crew=_ship.Crew />
        <ShipFrameView Frame=_ship.Frame />
        <ReactorView Reactor=_ship.Reactor />
        <EngineView Engine=_ship.Engine />
    </div>
    @if (_ship.Modules is not null)
    {
        <div>
            @foreach (var module in _ship.Modules)
            {
                <ModuleView Module=module />
            }
        </div>
    }
    @if(_ship.Mounts is not null)
    {
        <div>
            @foreach (var mount in _ship.Mounts)
            {
                <MountView Mount=mount />
            }
        </div>
    }
    
    <div>
        <CargoView Cargo=_ship.Cargo />
        <FuelView Fuel=_ship.Fuel />
    </div>
}

@code {
    [Parameter] public string Symbol { get; set; }

    private Ship _ship;
    private string Error = string.Empty;

    protected override async Task OnInitializedAsync ()
    {
        var request = new RestRequest($"/my/ships/{Symbol}", Method.Get);
        var response = await _client.GetRequest<Ship>(request, true);

        if(response is not null)
        {
            _ship = response.Data;
        }
        else
        {
            Error = "Unable to retrieve ship, please make sure you are logged in";
        }
    }
}
