<h3>@Module.Name</h3>
<span class="text-muted">@Module.Description</span>

<table class="table table-borderless">
    <thead>
        <th>Capacity</th>
        <th>Range</th>
    </thead>
    <tbody>
        <tr>
            <td>@Module.Capacity</td>
            <td>@Module.Range</td>
        </tr>
    </tbody>
</table>
<RequirementsView Requirements=Module.Requirements />

@code {
    [Parameter] public ShipModule Module { get; set; }
}