<h3>@Mount.Name</h3>
<span class="text-muted">@Mount.Description</span>
<p><strong>Strength:</strong> @Mount.Strength</p>
@if(Mount.Deposits is not null)
{
    @foreach(var deposit in Mount.Deposits)
    {
        <span class="badge bg-light text-dark">@deposit</span>
    }
}
<RequirementsView Requirements=Mount.Requirements />

@code {
    [Parameter] public ShipMount Mount { get; set; }
}