<div>
    <table class="table caption-top">
        <caption>Requirements</caption>
        <thead>
            <th>Power</th>
            <th>Crew</th>
            <th>Slots</th>
        </thead>
        <tbody>
            <tr>
                <td>@Requirements.Power</td>
                <td>@Requirements.Crew</td>
                <td>@Requirements.Slots</td>
            </tr>
        </tbody>
    </table>
</div>


@code {
    [Parameter] public ShipRequirements Requirements { get; set; }
}
