@page "/waypoint/{system}/{symbol}/jump-gate/{ship}"
@inject ApiClient _client
<h3>WaypointJumpGate</h3>

@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error: </strong>@Error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if(_jumpGate is not null)
{
    <div>
        <SpaceTrader.Components.Waypoints.JumpGateView JumpGate="@_jumpGate" ShipSymbol="@Ship"/>
    </div>
}
else
{
    <p>Loading . . .</p>
}


@code {
    [Parameter] public string System { get; set; }
    [Parameter] public string Symbol { get; set; }
    [Parameter] public string Ship { get; set; }

    private JumpGate _jumpGate;

    private string Error { get; set; }

    protected override async Task OnInitializedAsync ()
    {
        var request = new RestRequest($"systems/{System}/waypoints/{Symbol}/jump-gate");
        var response = await _client.GetRequest<JumpGate>(request, true);

        if(response is not null)
        {
            _jumpGate = response.Data;
        }
        else
        {
            Error = "Unable to load Jump Gate details.";
        }
    }
}
