@page "/delivercontract/{contract}"
@inject ApiClient _client
@inject AgentDbController _agentDb
@inject ShipDbController _shipDb

@if(_ships is not null)
{
    <table>
        <thead>
            <tr>
                <th>Ship</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ship in _ships)
            {
                <tr>
                    <td>@ship.Symbol</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public string Contract { get; set; }
    [Parameter] public string Item { get; set; }

    private Contract _contractDetails;
    private IEnumerable<Ship> _ships;

    protected override async Task OnInitializedAsync ()
    {
        _contractDetails = await _agentDb.Get<Contract>(Contract);
        _ships = await _shipDb.GetAgentShips(_client.LoggedInAgent);
        var deliveries = _contractDetails.Terms.Deliveries;
        _ships = _ships.Where(ship => deliveries.Any(d => d.DestinationSymbol == ship.Nav.WaypointSymbol && ship.Cargo.Inventory.Any(i => i.Symbol == d.TradeSymbol)));
    }
}
